# SPDX-FileCopyrightText: 2023 Nikita Chernyi
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Redmine systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ redmine_identifier }}.service"
  register: redmine_service_stat

- name: Uninstall redmine systemd services and files
  when: redmine_service_stat.stat.exists | bool
  block:
    - name: Ensure Redmine systemd units are stopped
      ansible.builtin.service:
        name: "{{ item }}"
        state: stopped
        enabled: false
        daemon_reload: true
      with_items:
        - "{{ redmine_identifier }}.service"
        - "{{ redmine_identifier }}-send-reminders.service"
        - "{{ redmine_identifier }}-send-reminders.timer"

    - name: Ensure Redmine recurring tasks systemd units are stopped
      ansible.builtin.service:
        name: "{{ item }}"
        state: stopped
        enabled: false
        daemon_reload: true
      when: redmine_recurring_tasks_enabled | bool
      with_items:
        - "{{ redmine_identifier }}-recurring-tasks.service"
        - "{{ redmine_identifier }}-recurring-tasks.timer"

    - name: Ensure Redmine systemd units do not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ item }}"
        state: absent
      with_items:
        - "{{ redmine_identifier }}.service"
        - "{{ redmine_identifier }}-send-reminders.service"
        - "{{ redmine_identifier }}-send-reminders.timer"
        - "{{ redmine_identifier }}-recurring-tasks.service"
        - "{{ redmine_identifier }}-recurring-tasks.timer"

    - name: Ensure Redmine container network does not exist via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        name: "{{ redmine_container_network }}"
        state: absent
      register: redmine_network_deletion_result

    - name: Ensure Redmine container network does not exist via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network rm
          {{ redmine_container_network }}
      register: redmine_network_deletion_result
      changed_when: redmine_container_network in redmine_network_deletion_result.stdout

    - name: Ensure Redmine path does not exist
      ansible.builtin.file:
        path: "{{ redmine_base_path }}"
        state: absent
