# SPDX-FileCopyrightText: 2023 Nikita Chernyi
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "lookup('ansible.builtin.varnames', ('^' + item.old + '$'), wantlist=True) | length > 0"
  with_items:
    - { "old": "redmine_systemd_required_systemd_services_list", "new": "redmine_systemd_required_services_list" }
    - { "old": "redmine_container_additional_environment_variables", "new": "redmine_environment_variables_additional_variables" }

- name: Fail if required Redmine settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - redmine_hostname
    - redmine_uid
    - redmine_gid

- name: Fail if Redmine database type invalid
  ansible.builtin.fail:
    msg: >-
      redmine_database_type must be 'postgresql' or 'sqlite3'
  when: "redmine_database_type not in ['postgresql', 'sqlite3']"

- name: Fail if required Redmine + Postgres integration settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) when `redmine_database_type` is `postgres`
  when: "redmine_database_type == 'postgres' and vars[item] == ''"
  with_items:
    - redmine_database_username
    - redmine_database_password
