# SPDX-FileCopyrightText: 2023 Nikita Chernyi
# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "lookup('ansible.builtin.varnames', ('^' + item.old + '$'), wantlist=True) | length > 0"
  with_items:
    - { "old": "redmine_config_virtual_port", "new": "redmine_container_http_port" }
    - { "old": "redmine_systemd_required_systemd_services_list", "new": "redmine_systemd_required_services_list" }
    - { "old": "redmine_container_additional_environment_variables", "new": "redmine_environment_variables_additional_variables" }
    - { "old": "redmine_http_header_content_permission_policy", "new": "redmine_http_header_permissions_policy" }
    - { "old": "redmine_database_hostname", "new": "redmine_database_postgres_hostname" }
    - { "old": "redmine_database_port", "new": "redmine_database_postgres_port" }
    - { "old": "redmine_database_username", "new": "redmine_database_postgres_username" }
    - { "old": "redmine_database_password", "new": "redmine_database_postgres_password" }

- name: Fail if required Redmine settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - redmine_uid
    - redmine_gid
    - redmine_hostname
    - redmine_path_prefix
    - redmine_container_network

- name: Fail if Redmine database type invalid
  ansible.builtin.fail:
    msg: >-
      redmine_database_type must be 'mysql2', 'postgresql', 'sqlite3', or 'sqlserver'
  when: "redmine_database_type not in ['mysql2', 'postgresql', 'sqlite3', 'sqlserver']"

- name: Fail if required Redmine + MySQL integration settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) when `redmine_database_type` is `mysql2`
  when: "redmine_database_type == 'mysql2' and lookup('vars', item, default='') | string | length == 0"
  with_items:
    - redmine_database_mysql_username
    - redmine_database_mysql_password

- name: Fail if required Redmine + Postgres integration settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) when `redmine_database_type` is `postgresql`
  when: "redmine_database_type == 'postgresql' and lookup('vars', item, default='') | string | length == 0"
  with_items:
    - redmine_database_postgres_username
    - redmine_database_postgres_password

- name: Fail if required Redmine + SQL Server integration settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) when `redmine_database_type` is `sqlserver`
  when: "redmine_database_type == 'sqlserver' and lookup('vars', item, default='') | string | length == 0"
  with_items:
    - redmine_database_sqlserver_username
    - redmine_database_sqlserver_password

- name: Run if Traefik is enabled
  when: redmine_container_labels_traefik_enabled | bool
  block:
    - name: Fail if Traefik settings required for Redmine are not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "lookup('vars', item, default='') | string | length == 0"
      with_items:
        - redmine_container_labels_traefik_hostname
        - redmine_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `redmine_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if redmine_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          redmine_container_labels_traefik_path_prefix (`{{ redmine_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/redmine`).
      when: "redmine_container_labels_traefik_path_prefix != '/' and redmine_container_labels_traefik_path_prefix[-1] == '/'"
