production:
  email_delivery:
    delivery_method: :smtp
    smtp_settings:
      address: "{{ redmine_email_delivery_smtp_settings_address }}"
      port: {{ redmine_email_delivery_smtp_settings_port }}
      authentication: {{ redmine_email_delivery_smtp_settings_authentication }}
      user_name: {{ redmine_email_delivery_smtp_user_name }}
      password: {{ redmine_email_delivery_smtp_password }}
  autologin_cookie_name: autologin
  autologin_cookie_path: /
  autologin_cookie_secure: true
  database_cipher_key: {{ redmine_database_cipher_key }}
  secret_token: "{{ redmine_secret_token }}"
  sudo_mode: true
  sudo_mode_timeout: 15
  max_concurrent_ajax_uploads: {{ redmine_max_concurrent_ajax_uploads }}
  common_mark_enable_hardbreaks: true
