{#
SPDX-FileCopyrightText: 2023 Nikita Chernyi

SPDX-License-Identifier: AGPL-3.0-or-later
#}

#jinja2: lstrip_blocks: "True"
[Unit]
Description=Redmine send reminders ({{ redmine_identifier }}-send-reminders)

[Timer]
Unit={{ redmine_identifier }}-send-reminders.service
OnCalendar={{ redmine_reminders_schedule }}

[Install]
WantedBy=timers.target
