{#
SPDX-FileCopyrightText: 2023 Nikita Chernyi

SPDX-License-Identifier: AGPL-3.0-or-later
#}

#jinja2: lstrip_blocks: "True"
[Unit]
Description=redmine recurring tasks ({{ redmine_identifier }}-recurring-tasks)

[Timer]
Unit={{ redmine_identifier }}-recurring-tasks.service
OnCalendar={{ redmine_recurring_tasks_schedule }}

[Install]
WantedBy=timers.target
